[Desktop Entry]
Encoding=UTF-8
Name=ToHelpCoin
Comment=ToHelpCoin P2P Cryptocurrency
Comment[fr]=ToHelpCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ToHelpCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/tohelpcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/tohelpcoin;
Categories=Office;
